<div class="div-geral">
  <div class="div-back">
    <div class="div-inputs">
      <input type="text" placeholder="Nome">
    </div>
    <div class="div-inputs">
      <input type="text" placeholder="Sobrenome">
    </div>
    <div class="div-inputs">
      <input type="text" placeholder="Email">
    </div>
    <div class="div-inputs">
      <input type="text" placeholder="Senha">
    </div>
    <div id="div-botao">
      <button (click)="cadastrar()" id="botao-cadastrar">Cadastrar</button>
      <button (click)="voltar()" id="botao-voltar">Voltar</button>
    </div>
  </div>
  </div>
