<div class="div-header">
  <div class="div-1">
      <div class="div-cadastrar-produto" (click)="cadastrarProduto()">
        <p>Cadastrar produto</p>
      </div>
      <div class="div-cadastrar-gerente">
        <p>Cadastrar gerente</p>
      </div>
      <div class="div-perfil">
        Perfil
      </div>
  </div>
</div>
<div class="div-body">
  <div *ngFor = "let produto of produtos";let i = index>
      <div class="img">
          {{result}}
      </div>
      <div>
        {{produtp.mone}}
      </div> <div>
        {{produto.preco}}
      </div>
  </div>
</div>