<div class="txt">
  <h1>10ZÃO TÊNIS</h1>
</div>

<div class="div-img">
  <img id="img-ben1" src="https://o.remove.bg/downloads/8dcac810-6516-4ef0-8f44-39959e014113/61-z-HlQO2L._AC_SY500_-removebg-preview.png">
  <img id="img-ben2" src="https://o.remove.bg/downloads/2f700bcd-6774-49d3-95d1-6363a5316711/5126bH1f3dL._AC_SY395_-removebg-preview.png">
</div>

<div class="div-img">
  <img id="img-ben3" src="https://o.remove.bg/downloads/531915a8-8908-4eab-9802-9a725adf1cc0/51qqm-QOTxL._AC_SY395_-removebg-preview.png">
  <img id="img-ben4" src="https://o.remove.bg/downloads/0f176ead-6b29-469f-a017-2c37e60f5c1d/51VY4I6VXhL._AC_SY395_-removebg-preview.png">
</div>