<body>
  <header>
    <div id="fundo-header">
      <div class="txt">
        <h1 id="logo-txt" (click)="redimensiona()">10ZÃO TÊNIS</h1>
      </div>
    </div>
  </header>
  <div class="div-body">
    <div *ngFor = "let produto of produtos" class="div-container">
        <div class="nome-prod">
          <h1>{{produto.nome}}</h1>
        </div> 
        <div class="div-img">
            <img src="{{produto.img}}" alt="" class="img-tenis">
        </div>
        <div class="preco-prod">
          <h2>{{produto.preco}}</h2>
        </div>
        <div class="preco-prod">
          {{produto.qtd}} 
          <button>Remover</button>
        </div>
    </div>
  </div>
</body>
  
