*{
  color: white;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
}

#fundo-header{
  display: flex;
  justify-content: center;
  background-color: gray;
  height: 16vh;
  width: 100%;
  margin: -2% 0 0 0;
  align-items: center;
}

.icone-flecha:hover{
  cursor: pointer;
}

.geralzona{
  display: flex;
  justify-content: center;
  align-items: center;
}

.geral{
  flex: 1;
}

.txt{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: white;
  width: 100%;
  margin: 0 0 0 16%;
}

#logo-txt{
  text-align: center;
}

#logo-txt:hover{
  cursor: pointer;
}

.div-icones{
  display: flex;
  justify-self: flex-end;
  margin: 0 4%;
}

.icone-carrinho{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  margin: 16% 0 0 0;
}

.button-log {
  border: 2px solid currentColor;
  border-radius: 50px;
  color: rgb(119, 113, 122);
  font-family: roboto;
  font-size: 17px;
  font-weight: 50;
  overflow: hidden;
  padding: 5px 20px;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  margin: 0 0 1% 24%;
}
.button-log::after {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.button-log:hover::after {
  transform: translate(0, 0);
}
.button-log:hover {
  border: 2px solid transparent;
  color: #ffffff;
  transform: scale(1.05);
  will-change: transform;
  cursor: pointer;
}



.div-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
}

.div-container{
  margin: 3%;
  height: 30%;
  width: 22%;
  padding: 0 0 1% 0;
  display: flow-root;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.textos{
  color: black;
}

.div-img{
  width: 18vw;
}
.img-tenis{
  width: 100%;
  margin: 0 0 0 7%;
}

.comprar-button{
  border: 2px solid currentColor;
  border-radius: 50px;
  color: rgb(119, 113, 122);
  font-family: roboto;
  font-size: 14px;
  font-weight: 50;
  overflow: hidden;
  padding: 5px 15px;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
}

.div-estoq{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.comprar-button::after {
  background-color: rgb(48, 255, 7);
  border-radius: 4px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.comprar-button:hover::after {
  transform: translate(0, 0);
}
.comprar-button:hover {
  border: 2px solid transparent;
  color: black;
  transform: scale(1.05);
  will-change: transform;
  cursor: pointer;
}