
<div class="div-geral">
  <div class="div-back">
    <div class="div-inputs">
      <input placeholder="Username" class="inputs" type="text" [(ngModel)]="user" class="inputs">
    </div>
    <div class="div-inputs">
      <input class="inputs" placeholder="Password" type="password" [(ngModel)]="pass" class="inputs">
    </div>
    <div id="div-botao">
      <button (click)="login()" id="botao-entrar">Login</button>
      <button (click)="cadastro()" id="botao-cadastro">Cadastre-se</button>
      <button (click)="socialSignIn('google')" id="botao-google">Entre com o Google</button>
    </div>
    
  </div>
</div>