*{
    color: white;
}

.divzona{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-back{
    background-color: gray;
    opacity: 0.8;
    width: 40vw;
    height: 80vh;
    display: table-column;
    justify-content:flex-end;
    align-items: flex-end;
}


.divs{
    text-align: center;
    margin: 1vw 0 3vh 0;
    justify-content: flex-end;
}

.nome-tenis{
    outline: none;
}

.preco-tenis{
    text-align: center;
}

.img-tenis{

}

::-webkit-input-placeholder{
    text-align: center;
}